services:
  - type: web
    name: proposal-backend
    env: node
    root: backend
    buildCommand: npm install
    startCommand: npm start
    plan: free
    envVars:
      - key: PORT
        value: 10000
